DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost

POSTGRES_DB=invoice_db
POSTGRES_USER=invoice_user
POSTGRES_PASSWORD=invoice_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

USER_NAME=meza
